<li>
<strong><%=destination_list_item.travel_time_in_minutes%></strong>
    <h4><%=destination_list_item.arrival_time%></h4>
    <%=destination_list_item.index%> -  <%=destination_list_item.address%>
    <h4><%=destination_list_item.departure_time%></h4>
</li>